.clock-face {
  position: relative;
  height: 100px;
  width: 100px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Add an inner shadow */
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #ffffff; /* Set background color to white */
}

.hour-hand,
.minute-hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: 50% 100%;
  animation-iteration-count: infinite;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); /* Add a shadow to the hands */
}

.hour-hand {
  width: 4px;
  height: 40px;
  background-color: #000;
  animation: spinHour 2s linear infinite; /* Set the spin speed for the hour hand */
}

.minute-hand {
  width: 2px;
  height: 50px;
  background-color: #000;
  animation: spinMinute 1s linear infinite; /* Set the spin speed for the minute hand */
}

@keyframes spinHour {
  0% { transform: translateX(-50%) rotate(0deg); }
  100% { transform: translateX(-50%) rotate(360deg); }
}

@keyframes spinMinute {
  0% { transform: translateX(-50%) rotate(0deg); }
  100% { transform: translateX(-50%) rotate(360deg); }
}
